.search {
  position: relative;

}

.search input {
  margin-top: 10px;
  width: 200px;
  padding: 5px;
  border-style: solid;
  background: #f9f8fe;
  border-radius: 7px;
}

.search button {
  background: #372c75ed;
  border: none;
  padding: 7px;
  border-radius: 7px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.search button:hover {
  background: #60578eed;
}

.searchResults {
  background: rgba(236, 236, 236, 0.938);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  top: 35px;
  color: white;
  z-index: 3;
  padding: 10px;
  min-width: 200px;
  gap: 10px;
}

.searchResults li {
  text-align: center;
  width: 100%;
  list-style-type: none;
  background: #372c75ed;
  padding: 5px;
}

.searchResults li:nth-child(2n) {
  background: #60578eed;
}