.dashboard {
  border-radius: 7px;
  background: rgb(249, 249, 249);
  width: 90vw;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.413) 1px 1px 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

/* header */
.header {
  box-sizing: border-box;
  margin: 0px 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  display: flex;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(35, 28, 75);
  align-items: center;
}

.header h1 {
  border-right: rgb(35, 28, 75) 3px solid;
  margin-right: 15px;
  padding-right: 15px;
}

.header label input {
  display: none;
}

.header label {
  font-size: 18px;
  cursor: pointer;
  border-bottom: none;
  margin-right: 15px;
}

.header label:hover {
  border-bottom: 1px solid rgb(35, 28, 75);
}

.header.logout {
  font-size: 18px;
  width: auto;
  border-bottom: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 50%;
  border-left: rgb(35, 28, 75) 3px solid;
}

.header.logout a {
  text-decoration: none;
  color: rgb(35, 28, 75);
}

.header.logout a:hover {
  border-bottom: 1px solid rgb(35, 28, 75);
}

.section.header {
  background: none;
  margin: 20px 0px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: none;
}

/* data body */
.data.body {
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  height: 100%;
}

.data.body::-webkit-scrollbar {
  width: 10px;
}

.data.body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(230, 229, 229);
}

.data.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(35, 28, 75);
}

.noData {
  background: rgba(1, 0, 65, 0.076);
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 20px;
}

/* statbar */
.body .statbar {
  width: 90%;
  display: flex;
  gap: 100px;
}

.statbar.item {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 15px;
  height: 50px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  transition: 200ms;
  font-size: 18px;
  width: fit-content;
}


.statbar.item:hover {
  transform: scale(1.07, 1.07);
  background: rgba(35, 28, 75, 0.763);
  color: white;
}

.statbar:last-child {
  background: rgba(35, 28, 75, 0.763);
  color: white;
}

.statbar:last-child:hover {
  background: white;
  color: black;
}

.statbar.item.top,
.statbar.item.bottom {
  all: unset;
}

.statbar.item.top {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

/* main data */
.body .main {
  display: flex;
  gap: 20px;
  height: 425px;
  width: 100%;
}

.main.graph {
  background: white;
  height: 425px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.main.graph:hover {
  transform: scale3d(1.025, 1.025, 2);
}

.main.graph.one {
  flex: 6;
}

.main.graph.two {
  flex: 4;
}

.insights {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 350px;
  gap: 20px;
}

.insight.item {
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 10px;
  transition: 300ms;
}

.insight.item:hover {
  transform: scale3d(1.025, 1.025, 2);
}

.chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart h2 {
  margin: 0;
  padding: 0;
}

.chart.body {
  height: 100%;
  position: relative;
}

.apex.graph {
  z-index: 0;
}